table{
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    
}
td , th{
    border: 5px sold black;
box-shadow: 1px 1px 1px 1px rgb(145, 5, 5) ;
color: white;
}
p{
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-style: oblique;
}
body{
    background: url("image/etoiles1.jpg") no-repeat;
    background-size: cover;
}

