*{
    margin: 0;
    padding: 0;
}
.navmenu{
    display:none;
}
#container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 200px;
  margin-top: 50px;
  position: relative;
}
.wrap-epee-text {
  display: flex;
  width: 33%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#image {
  width: 33%;
  height: 99%;
  border: 3px solid black;
  box-shadow: 8px 6px 4px 4px rgba(54, 1, 1, 0.205);
  margin-left: 5px;
}
p {
  display: flex;
  justify-items: center;
  font-family: "Franklin Gothic Medium', cursive";
  text-align: justify;

}
body {
  background: url(image/parch.jpg);
}
#text {
  width: 33%;
  height: 20%;
  text-align: center;
  font-family: "Franklin Gothic Medium', cursive";
}
#epee {
  width: 40%;
  height: 50%;
  max-width: 135px;
  padding-bottom: 10%;
}
#image1 {
  width: 33%;
  height: 99%;
margin-right: 5px;
  border: 3px solid black;
  box-shadow: 8px 12px 10px 8px rgba(54, 1, 1, 0.205);
}
header {
  display: flex;
}

hr {
  border: 3px solid black;
  width: 99%;
}
footer {
  display: flex;
}
#text1 {
  display: flex;
  justify-items: flex-end;
  height: 20px;
  text-align: justify;
  top: 60%;
  font-family: "Franklin Gothic Medium', cursive";
}
#epee1 {
  width: 40%;
  height: 45%;
  transform: rotate(90deg);
  max-width: 135px;
  padding-bottom: 10px;
}
.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
#lien-image2 {
  width: 33%;
  height: 99%;
  border: 3px solid black;
  box-shadow: 8px 12px 10px 8px rgba(54, 1, 1, 0.205);
}
#image2 {
  width: 100%;
  height: 100%;
  border-radius: 5px ;
}
.bottom-text {
  padding: 0 15%;
}
footer {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 100px;
    width: 100%;
    /*background-color: */
    align-items: center;
}
footer > p {
    color: rgb(133, 58, 58);
    box-shadow: 5px 5px 5px 5px rgb(82, 12, 12);
}
#burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    background-color: #000;
    cursor: pointer;
}
.line {
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    transition: all .8s;
}
/*css pour que le burger s'anime après le click*/
.open .line1 {
    transform: rotateZ(-45deg) translate(-12px, 12px);
}
.open .line2 {
    opacity: 0;
}
.open .line3 {
    transform: rotateZ(45deg) translate(-12px, -12px);
}
/*menu caché au départ*/
.dropdown-menu {
    position: fixed;
    top: -50%;
    transition: 1s;
    background-color: rgb(133, 58, 58);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
/*css pour que le menu apparaisse*/
.open .dropdown-menu {
    top: 10%;
    position: fixed;
}
.dropdown-menu > ul {
    list-style: none;
}
/*espace entre les éléments du menu*/
.nav-item {
    margin: 20px;
}
/*.navmenu{
    display: none;
}*/
/*le css pour les mobiles*/
@media screen and (max-width: 680px) {
  header {
    display: flex;
    height: 10px;
    width: 100%;
  }
  hr {
    border: none;
    width: 0%;
  }
  .navmenu{
      
      width:20px;
      height: 100px;
  }
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40%;
    margin-top: 50px;
    
  }
  .wrap-epee-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.bottom-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}
  .img {
    height: 100%;
    width: 100%;
    
  }
  #text,
  #image {
    width: 100%;
    border: 1px solid black;
    
  }

  body {
    
    width: 100%;
    background: url(image/parch.jpg);
  }
  #image1 {
    width: 100%;
    border: 1px solid black;
    
    
  }

  #epee,
  #epee1 {
    display: none !important;
  }
}
/*le css des elements enlever*/
/* @media screen and (max-width: 1300px) {
 
} */
