* {
    margin: 0;
    padding: 0;
}
body {
    background: url('img/woodtable.jpg');
}
header {
	position: fixed;
	height: 75px;
	width: 100%;
	background-color: #000;
	display: flex;
	align-items: center;
	z-index: 5;
}
.logo {
	height: 40px;
	width: 40px;
	margin: 0 15px;
}
/*menu caché en format mobile*/
.menu {
	display: none;
}
.navmenu {
	width: 100%;
}
#burger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40px;
	height: 30px;
	background-color: #000;
	cursor: pointer;
}
.line {
	width: 100%;
	height: 5px;
	background-color: #fff;
	border-radius: 2px;
	transition: all .8s;
}
/*css pour que le burger s'anime après le click*/
.open .line1 {
	transform: rotateZ(-45deg) translate(-10px, 6px);
}
.open .line2 {
	opacity: 0;
}
.open .line3 {
	transform: rotateZ(45deg) translate(-10px, -6px);
}
/*menu caché au départ*/
.dropdown-menu {
	position: fixed;
	top: -80%;
	left: 0;
	transition: 1s;
	background-color: rgba(148, 31, 1, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10;
	border-radius: 10px;
}
/*css pour que le menu apparaisse*/
.open .dropdown-menu {
	top: 11%;
	position: fixed;
}
.dropdown-menu > ul {
	list-style: none;
}
/*espace entre les éléments du menu*/
.nav-item {
	margin: 30px;
    font-family: 'Franklin Gothic Medium', cursive;
    font-size: 30px;
}
.nav-link {
	text-decoration: none;
	color: #fff;
}
.block {
	height: 75px;
	width: 100%;
	background-color: #000;
}

.pic-desk-only {  /*ici les éléments masqués en format mobile*/
    display: none;
}
.owl {
    height: 75px;
    width: 75px;
    margin: 0 auto 20px auto; 
}
h2 {
    font-size: 20px;
    color: #fff
}
h3 {
    text-decoration: underline;
}
h3, .visible, .visible > a {
    color: #f0ead3;
}
.visible {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', cursive;
}
.wrapper { 
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
}
.content {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: #222;
    height: auto;
}
/*classes pour cacher / réveler les textes*/
.hide {
    visibility: hidden;
}
.show {
    transition: .6s;
    position: absolute;
    opacity: 1;
    height: auto;
    background: url('img/scrollbg.jpg') center;
    color: #000;
    visibility: visible;
}
p {
    font-size: 18px;
    margin: 10px;
    padding: 5px;
    background-size: cover;
    margin: 20px auto;
}
/*fin des classes cacher/révéler */
.button, .close {
    cursor: pointer;
}
.button {
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #000;
    color: #fff;
}
.content {
    background-size: cover;
    position: relative;
}
.content1 {
    width: 400px;
    height: 400px;
    max-width: 100%;
    background: url('img/Weapons.png') center;
}
.content2 {
    background-image: url('img/Questlog.png');
    width: 400px;
    height: 400px;
    max-width: 100%;
}
.content3 {
    background: url('img/levelup.png');
    width: 400px;
    height: 400px;
    max-width: 100%;
}

.weapon, .task {
    display:flex;
    justify-content: center;
    align-items: center;
}
.weaponchoice {
    height: 50px;
    width: 50px;
}
.task1, .task2 {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
}
span {
    text-decoration: underline;
}
footer {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	justify-content: center;
	position: relative;
	height: auto;
	width: 100%;
	background-color: #555;
	align-items: center;
}
.pfoot1 {
	grid-row-start: 1;
	grid-column: span 2;
}
footer > p {
	color: #fff;
	padding: 30px;
	letter-spacing: 0.3em;
	text-align: center;
}
/*début CSS pour desktop*/
@media screen and (min-width: 600px) {
    header {
        height: 100px;
        background-color: #111;
    }  
    header {
		height: 100px;
	}
	.logo {
		height: 100px;
		width: 100px;
		margin: 10px;
	}
	.navmenu {
		display: none;
	}
    .block {
        height: 100px;
    }
	/*menu visible en format desktop*/
	/* css Tatiana*/
	.menu {
		width: 100%;
		display: flex; /* Transformation en flexbox */
		padding: 0; /* Suppression des marges internes */
		justify-content: space-around; /* Alignements des liens dans le menu */
	}
	ul {
		list-style: none;
		display: inline;
		font-family: 'Franklin Gothic Medium', cursive;
		text-align: center;
		font-size: 25px;
		justify-content: center;
		margin: 0px;
		padding: 10px;
		width: 100%;
	}
	li {
		display: inline;
	}
	.menu a {
		display: block;
		min-width: 120px;
		padding: 0.4rem 0;
		text-align: center;
		background-color: #941f01;
		margin: 0.5rem;
		color: #fff;
		text-decoration: none;
		border-radius: 4px;
		transition: all 1s;
		border: 1px solid #fff;
	}
    .owl {
        width: 100px;
        height:100px;
    }
    .content {
        display: flex;
        width: 100%;
        height: 500px;
        background-size: cover;
        background: url('img/deskscrollbg.jpg') center;
        border-radius: 2em;
    }
     .content2 {
        flex-direction: row-reverse;
    } 
    .pic-desk-only {
        display: block;
        height: 350px;
        width: 350px;
        margin:0 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    }
    
    p {
        font-size: 18px;
        word-spacing: 0.3em;
    }
    
    .hide {
        opacity: 1;
        padding: 20px;
        color: #555;
        letter-spacing: 0.3em;
        max-width: 70%;
        visibility: visible;
    }
    .button, .close {
        opacity: 0 !important;
    }
    
}